$red: rgba(99,00,00,0.2);
$green: rgba(00,99,00,0.2);
$blue: rgba(00,00,99,0.2);

@font-face{
  font-family: Lobster;
  src: url('/assets/fonts/Lobster_1.3.otf')
}

@mixin break($point) {
  @if $point == large {
    @media (max-width: 1600px) { @content; }
  }
  @else if $point == mid {
    @media (max-width: 1250px) { @content; }
  }
  @else if $point == little {
    @media (max-width: 650px) { @content; }
  }
}

body{
  margin: 0;
  padding: 0;
}

.page-wrap{
  margin: 0;
  display: -webkit-flex;
  -webkit-flex-direction: column;
}

.nav{
  display: -webkit-flex;
  -webkit-justify-content: space-around;
}

.sign-in, #sign-in{
  display: none;
}

.sign-in{
  height: 25%; width: 50%;
  background: black;
  top: 35%;
  left: 25%;
}

.header{
  -webkit-align-self: center;
  text-shadow: 0px 1px 1px #4d4d4d;
  color: #222;
  font-family: Lobster;
}

button{
  border: none;
  -webkit-flex: 5;
  padding: 4%;
  margin: 2%;
  box-shadow: 1px 1px 1px grey;
}

button:hover{
  background: cyan;
}

@include break(large) {
  .page-wrap{
    background: $green;
  }
}

@include break(mid) {
  .page-wrap{
    background: $blue;
    margin: 0 5%;
  }
}

@include break(little) {
  .page-wrap{  
    background: $red;
    -webkit-flex-direction: column;
  }

  .puzzles{
    background: rgba(00,55,55,0.5);
    position: flex;
    height: 80%;
    -webkit-order: 2;
  }

  .puzzle{
    background: rgba(00,00,00,0.2);
    margin: 2% auto 0 auto;
    padding: 4%
  }

  .header{
    -webkit-order: 1;
  }

  .nav{
    -webkit-order: 3;
  }

  #sign-in{
    display: block;
  }

  #facebook, 
  #twitter,
  #google{
    display: none;
  }
}