!!!
%head
  %title Quick_Project
  %meta{name: 'viewport', content: 'width = device-width' }
  = stylesheet_link_tag 'application'
  = javascript_include_tag 'application' 
  = csrf_meta_tags
%body
  .page-wrap
    .nav
      %button{id: "sign-in"} Sign In
      %button Facebook
      %button Twitter
      %button Google
      %button Tutorial
      %button Create
    .puzzles
      = yield
  .sign-in
